/*
  Main Stylesheet
  ****************************
  File:     main.scss
  Author:   Rein Van Leirsberghe
  E-mail:   reinvanleirsberghe@hotmail.com
*/

@import "helpers/_variables";
@import "components/_loading";
@import "components/_navigation";
@import "components/_tabs";
@import "pages/_drops-edit";
@import "layouts/_forms";