/*
  Navigation Stylesheet
  ****************************
  File:     _navigation.scss
  Author:   Rein Van Leirsberghe
  E-mail:   reinvanleirsberghe@hotmail.com
*/

// padding for fixed menu
body {
  padding-top: 70px;
}