/*
  Variables Stylesheet
  ****************************
  File:     _variables.scss
  Author:   Rein Van Leirsberghe
  E-mail:   reinvanleirsberghe@hotmail.com
*/

$color-error: #a94442;
$color-grey-border-light: #eee;
$color-grey-border-dark: #ccc;